.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;

    /* z-index: 999;
    position: fixed;
    bottom: 0px; left: 0; */
}

.footer .footerVisibility {
    display: none;
}

.footer .text {
    font-weight: bold;
}