.content {
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

.top {
    margin: 0;
    padding: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background: #007ad9;
    flex-direction: column;
    justify-content: center;

    /* z-index: 999;
    position: fixed;
    top: 0px; left: 0; */
}

.top .topVisibility {
    display: none;
}

.logo {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.profile {
    padding: 20px 0; 
    text-align: center;
}
.profile img {
    width: 56px;
    margin: 10px; 
}
.profile .profile-link {
    cursor: pointer;
    color: white;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; 
}

.profile .profile-link i {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle; 
}

.profile ul {
    max-height: 0;
    overflow: hidden;
    text-align: left;
    background-color: none;
    transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); 
}

.profile ul.profile-expanded {
    max-height: 500px; 
}

.profile .li {
    padding: 0px;
    line-height: 50px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.profile .li a:hover {
    color: white;
}

.ul {
    margin-bottom: 50px;
    margin-left: 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.li {
    line-height: 50px;
    padding: 0px;
    border-top: 1px solid rgba(255,255,255,.1);
}

.ul .li i {
    margin-right: 5px;
}

.ul .li a {
  transition: .4s;
  font-weight: bold;
}

.ul .li a:hover {
    padding-left: 20px;
}

.active {
    color: white;
}