@charset "UTF-8";

* {
  box-sizing: border-box; 
}

html {
  height: 100%; 
  margin: auto;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #333333;
  background-color: #edf0f5;
  margin: 0;
  padding: 0;
  min-height: 100%; 
  min-width: 100%; 
}

a {
  text-decoration: none; 
}
